<configuration>
    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.epam.config.security.MaskingPatternLayout">
                <maskPattern>username: (\w+\.\w+)</maskPattern>
                <maskPattern>password: (\w+)</maskPattern>
                <maskPattern>firstName: (\w+)</maskPattern>
                <maskPattern>lastName: (\w+)</maskPattern>
                <maskPattern>name: (\w+)</maskPattern>
                <maskPattern>user: (\w+\.\w+)</maskPattern>
                <maskPattern>user: (№\w+)</maskPattern>
                <maskPattern>trainee: (\w+\.\w+)</maskPattern>
                <maskPattern>trainer: (\w+\.\w+)</maskPattern>
                <maskPattern>dateOfBirth= (\d{4}-\d{2}-\d{2})</maskPattern>
                <maskPattern>address='([\w\s]+)'</maskPattern>
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="mask" />
    </root>
</configuration>
